<li>
    <%= link_to admin_quicklink_path do %>
      <i class="fa fa-table fa-fw"></i> Quick Link
    <% end %>
</li>
<li>
    <%= link_to ingredients_path do %>
      <i class="fa fa-table fa-fw"></i> Ingredients
    <% end %>
</li>
<li>
    <%= link_to items_path do %>
      <i class="fa fa-table fa-fw"></i> Items
    <% end %>
</li>
<li>
    <%= link_to tables_path do %>
      <i class="fa fa-table fa-fw"></i> Tables
    <% end %>
</li>
<li>
    <%= link_to admin_orders_path, "data-no-turbolink" => true do %>
    <i class="fa fa-table fa-fw"></i> Orders
    <%end%>
</li>
<li>
    <%= link_to admin_reports_path do %>
    <i class="fa fa-table fa-fw"></i> Reports
    <%end%>
</li>
<li>
    <%= link_to admin_chefs_path do %>
    <i class="fa fa-table fa-fw"></i> Chef's
    <%end%>
</li>
<li>
    <%= link_to waitress_index_path do %>
    <i class="fa fa-table fa-fw"></i> Waitress
    <%end%>
</li>
<li>
    <%= link_to orders_table_unpaid_path do %>
      <i class="fa fa-table fa-fw"></i> Show Detail Orders
    <% end %>
</li>
<li>
    <%= link_to warning_ingredients_path do %>
    <i class="fa fa-table fa-fw"></i> Ingredients Warning
    <%end%>
</li>