<div class="row">
<% if @order_warning.blank? %>
  <h3 class="text-muted text-center">No Orders to now</h3>
<% end %>
  <% @order_warning.each_with_index do |o, i| %>
    <div class="col-md-4">
      <div class="quicklink">
        <h5><b>Order id : <%= o.id %></b></h5>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>No</td>
                <td>Items</td>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
                <% o.line_items.each_with_index do |li, i|%>
                <tr>
                  <td><%= i+1%></td>
                  <td><%= li.item.name unless li.item.nil? %></td>
                  <% if li.complete.eql? true %>
                    <td><input type="checkbox" class="item" data-id="<%= li.id %>" checked></td>
                  <% else %>
                    <td><input type="checkbox" class="item" data-id="<%= li.id %>"></td>
                    <% end %>
                </tr>
                <%end%>
            </tbody>
          </table>
      </div>
    </div>
  <%end%>
</div>
<script type="text/javascript">
  function reload(){
    window.location.reload();
  };

  setInterval('reload()', 30000);
</script>