<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Update Order</h2>
  </div>
</div>
<%= render "shared/search_form" %>
<div class="row">
  <div class="col-md-12 cs-col">
    <%= form_tag('/line_items') %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="selected_item">
         <% LineItem.where(:order_id => @order.id).each_with_index do | line_item , i| %>
         <tr class="<%=line_item.item_id%>">
           <!-- <input name="line_items[<%=line_item.item_id%>][order_id]" type="hidden" value="<%= @order.id %>"> -->
           <td><%= i+1 %> </td>
           <td><%= line_item.item.name unless line_item.item.nil? %></td>
           <% if line_item.complete.eql? true %>
              <td><input class="form-control" type="number" disabled value="<%= line_item.quantity %>"></td>
              <td><span class="badge badge-green">Complete</span></td>
              <td><a href="#" class="btn btn-warning disabled">X</a></td>
            <% else %>
              <!-- <td><input name="line_items[<%#=line_item.item_id%>][quantity]" type="number" required><%#= line_item.quantity %></td> -->
              <td class="status"><input class="form-control" style="width:48%;float: left" type="number" disabled value="<%= line_item.quantity %>">
              <%= link_to "Edit quantity", edit_quantity_line_items_path(line_item), 'data-no-turbolink' => true, class: "btn btn-info form-control", style:"width:48%;float:right"%>
              </td>
              <td class="status"><span class="badge badge-red">Uncomplete</span></td>
              <td> <%= link_to "X", line_item, method: :delete, data:{confirm: "Are You Sure"}, class: "btn btn-warning " %></td>
            <% end %>
         </tr>
         <% end %>
          <!-- <tr class="5">
          <input name="line_items[5][order_id]" type="hidden" value="<%#= @line_item.order_id %>">
          <td><input type="hidden" name="line_items[5][item_id]" value="5">Jus Apel</td>
          <td><input name="line_items[5][quantity]" type="number" required=""></td>
          <td><a href="#" class="btn btn-warning 5">X</a></td>
          </tr> -->

        </tbody>
      </table>
      <input type="submit" class="add-item btn btn-primary" value="Save">
      <%= link_to "Back", :back, class: "btn btn-warning" %>
  </div>
</div>
<script>
function autoCompleteItem(){
  $(function() {
    $( "#searchItems" ).autocomplete({
      
      source: function( request, response ) {
              $.ajax({
                url: "/search_item.json",
                data: {term: request.term},
                dataType: "json",
                  success: function( data ) {
                    response( $.map( data.items, function( v ) {
              // console.log(data.items.id);
                      return {
                        id: v.id,
                        label: v.name,
                        value: v.name,  
                        desc:  v.detail_of_item,
                        price:  v.price,
                        portion:  v.portion,
                        available:  v.available,
                        type:       v.type_of_item
                      }
                    }));
                  }
              });
                  // console.log($.ajax.response)
      },

      focus: function (event, ui) {
            var name = ui.item.value;
            var type = ui.item.type;
            var desc = ui.item.desc;
            var price = ui.item.price;
            var portion = ui.item.portion;
            if (ui.item.available == true) {
              var available = "Available";
              }else{
              var available = "Not Available";
            };
            
            $(".item_description").show();
            $(".item_description h5").remove();
            $(".item_description").append('<h5><b>'+name+'</b></h5>');
            $(".item_description").append('<h5>Type : '+type+'</h5>');
            $(".item_description").append('<h5>Description : '+desc+'</h5>');
            $(".item_description").append('<h5>Price : '+price+' Ribu</h5>');
            $(".item_description").append('<h5>Portion : '+portion+' Orang</h5>');
            $(".item_description").append('<h5>Status : '+available+'</h5>');
          },

      select: function (e, ui) {
            var _id = ui.item.id
            var _name = ui.item.value
            var _available = ui.item.available
            // function clearText(this_item){
            //   if (this_item.val()!= ""){
            //     this_item.val("");
            //   return false;
            //   }
            // }
            // console.log($(this).val(""));
            
            if (_available == false){

              $(".alert").show().html("<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>Sorry,</strong> to now <strong>"+_name+"</strong> is Not Available");
              $(this).val("");
              return false;

            }else if ( ($(".selected_item tr").hasClass(_id) == true && $(".selected_item tr."+_id+" td.status span").text() == "Uncomplete") || ($(".selected_item tr").hasClass(_id) == true && $(".selected_item tr."+_id+" td.status span").text() == "New Item")  ) {
              
                
              $(".alert").show().html("<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Please fill the quantity for reserve <strong>"+_name+"</strong> again");
              $(this).val("");
              return false;
             
            }
            else if($(".selected_item tr").hasClass(_id) == true && $(".selected_item tr."+_id+" td.status span").text() == "Complete" ){
               var no = $(".selected_item tr").length
              no+=1;
              $(".selected_item").append("<tr class='append "+_id+"'>"+
                                        "<input name='line_items["+_id +"][order_id]' type='hidden' value='<%= @order.id %>' >"+
                                        "<td>"+ no +"</td>"+
                                        "<td ><input type='hidden' name='line_items["+_id+"][item_id]' value='"+_id+"' >"+_name + "</td>"+
                                        "<td><input name='line_items["+_id+"][quantity]' type='number' class='form-control input-group cs' required min='1'></td>"+
                                        "<td class='status'><span class='badge badge-info' style='margin-top: 6px;'>New Item</span></td>"+
                                        "<td><a href='#' class='btn btn-warning "+_id+"' >X</a></td>"+
                                        "</tr>");
              $(".add-item").prop("disabled", false)
              $(".alert").hide();
              $(".selected_item a."+_id).click(function(){
                $(".selected_item tr."+_id).remove();
                if ($(".selected_item tr").hasClass("append") == true) {
                    $(".add-item").prop("disabled", false)
                }else{
                  $(".add-item").prop("disabled", true)
                };
              });
              $(this).val("");
              return false;

            }
            else{
              // console.log($(".selected_item tr."+_id+" td.status span").text())
              var no = $(".selected_item tr").length
              no+=1;
              $(".selected_item").append("<tr class='append "+_id+"'>"+
                                        "<input name='line_items["+_id +"][order_id]' type='hidden' value='<%= @order.id %>' >"+
                                        "<td>"+ no +"</td>"+
                                        "<td ><input type='hidden' name='line_items["+_id+"][item_id]' value='"+_id+"' >"+_name + "</td>"+
                                        "<td><input name='line_items["+_id+"][quantity]' type='number' class='form-control input-group cs' required min='1'></td>"+
                                        "<td class='status'><span class='badge badge-info' style='margin-top: 6px;'>New Item</span></td>"+
                                        "<td><a href='#' class='btn btn-warning "+_id+"' >X</a></td>"+
                                        "</tr>");
              $(".add-item").prop("disabled", false)
              $(".alert").hide();
              $(".selected_item a."+_id).click(function(){
                $(".selected_item tr.append."+_id).remove();
                if ($(".selected_item tr").hasClass("append") == true) {
                    $(".add-item").prop("disabled", false)
                }else{
                  $(".add-item").prop("disabled", true)
                };
              });
              $(this).val("");
              return false;
            }
      },

      close: function() {
      $(".item_description").hide();

      },

      change: function(event){
               $(this).val("");  
               return false;
      }
    });
  }); 
}
// $(document).ready(function)

// };
autoCompleteItem();

</script>