<div class="row">
  <div class="col-md-4">
    <%= form_for(@line_item) do |f|%>
    <%= f.hidden_field :order_id, :value => @line_item.order_id %>
        <%= f.label 'Quantity'%>
        <%= f.number_field :quantity, min: "1", class: "form-control", required:"true", autofocus:true %><br>
        <%= f.submit "Save", class:'btn btn-primary' %>
    <% end %>
  </div>
</div>